[Unit]
Description=Migrate system from discontinued bluefin-tr image to bluefin-dx-tr
Wants=network-online.target
After=system-flatpak-setup.service

[Service]
Type=oneshot
Exec=bootc switch ghcr.io/rrenomeron/bluefin-dx-tr:gts

[Install]
WantedBy=multi-user.target