[Unit]
Description=Fix atd spool directories
Documentation=https://universal-blue.discourse.group/t/missing-new-var-subdirectories-when-adding-an-rpm-to-a-custom-image/1752/2
Before=atd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/fix-atd-missing-directories

[Install]
WantedBy=multi-user.target